<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <% users.forEach(el =>{ %>
    <div>
      <h2><%= el.id %></h2>
      <h2><%= el.name %></h2>
      <a href="users/<%= el.id %>"> Show Description</a>
      <button onclick="handleDelete('<%= el.id %>')">Delete</button>
      <button><a href="/add">Add</a></button>
    </div>
    <% }) %>
    <%- include("../partials/footer.ejs")  %>
    <script src="/js/home.js"></script>
  </body>
</html>
